.wrapper {
  min-height: rem(400px);
  /* border-radius: var(--mantine-radius-md); */
  margin: calc(var(--mantine-spacing-xl) * 2.5) 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  background-color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-sm);
  /* box-shadow: var(--mantine-shadow-lg); */

  @media (max-width: var(--mantine-breakpoint-sm)) {
    margin: calc(var(--mantine-spacing-xl) * 1.5) 0;
  }
}

.inputLabel {
  color: var(--mantine-color-black);
}
