.wrapper {
  min-height: rem(400px);
  background-image: linear-gradient(
    -60deg,
    #edf0f2 0%,
    #dadfe4 100%
    /* var(--mantine-color-green-0) 0%,
    var(--mantine-color-green-1) 100% */
  );
  background-color: white;
  /* border-radius: var(--mantine-radius-md); */
  padding: calc(var(--mantine-spacing-md) * 2.5);
  margin: calc(var(--mantine-spacing-xl) * 2.5) 0 0 0;

  @media (max-width: $mantine-breakpoint-sm) {
    padding: calc(var(--mantine-spacing-xl) * 1.5);
  }
}

.form {
  background-color: var(--mantine-color-white);
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-sm);
  /* box-shadow: var(--mantine-shadow-lg); */

  @media (max-width: $mantine-breakpoint-sm) {
    margin: calc(var(--mantine-spacing-xl) * 1.5) 0;
  }
}

.inputLabel {
  color: var(--mantine-color-black);
}
