.header {
  height: rem(56px);
  margin-bottom: rem(20px);
  background-color: var(--mantine-color-body);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftGroup, .rightGroup {
  flex: 1;
}

.rightGroup {
  /* justify-content: end !important; */
}

.logoContainer {
  flex: 0 0 auto; /* Ensures that the logo doesn't grow or shrink */
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(8px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-0));
  font-size: var(--mantine-font-size-sm);
  font-weight: 400;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-gray-6));
  }
}

.linkLabel {
  margin-right: rem(5px);
}